body,
html {
  background-color: #1a202c;
  color: white;
  height: 100%;
}

.ant-layout {
  background-color: #1a202c !important;
}

.ant-divider {
  color: white !important;
  border-top-color: white !important;
}

.logo {
  width: 100px;
}

.header ul {
  float: right;
}

.collapsing-button {
  width: 100%;
  background-color: #1890ff;
  text-align: center;
  font-size: 1.5em;
  /* padding: 10px; */
  padding: 8%;
  /* bottom: 0; */
  cursor: pointer;
  /* position: absolute; */
}

.hero-image {
  width: 100%;
  margin: auto;
  justify-content: center;
}

.hero-image img {
  width: 100%;
  /* margin-left: 10%; */
  max-height: 25em;
  object-fit: cover;
}

.divider {
  font-size: 36px;
  font-style: italic;
}

.gm-section {
  width: 100%;
  padding: 0 13%;
}

footer {
  background-color: #1a202c !important;
  color: white !important;
}

/* default styles here for older browsers. 
       I tend to go for a 600px - 960px width max but using percentages
    */
@media only screen and (min-width: 960px) {
  /* styles for browsers larger than 960px; */
}
@media only screen and (min-width: 1440px) {
  /* styles for browsers larger than 1440px; */
}
@media only screen and (max-device-width: 480px) {
  /* styles for mobile browsers smaller than 480px; (iPhone) */
  .divider {
    font-size: 24px;
  }

  .gm-section {
    width: 100%;
    padding: 0 3%;
  }

  .hero-image img {
    width: 100%;
    margin: 0;
  }

  .ant-card-meta-description {
    font-size: 0.8rem;
  }
}
@media only screen and (device-width: 768px) {
  /* default iPad screens */
}
/* different techniques for iPad screening */
@media only screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation: portrait) {
  /* For portrait layouts only */
}

@media only screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation: landscape) {
  /* For landscape layouts only */
}
